.navs{
    display: flex;
    background:whitesmoke;
    box-shadow: 1px 1px 20px;
    padding: 20px;
    width: 100%;
}

.logo{
    font-size: 30px;
    align-items: center;
    margin-left: 20px;
    color:crimson;
    width: 40px;
    height: 40px;
}

/* .logos {
    background-color: crimson;
    border-radius: 10px;
} */

.search{
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 20px;
}

.searchtext{
    align-items: center;
    align-content: center;
    width: 350px;
    border-radius: 10px;
    padding: 10px;
}

.searchtext:focus-visible{
    border: none;
    outline: unset;
}

.sub-navs{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    flex-grow: 1;
    margin-left: 12px;
}

.nav-btn{
    padding: 10px 20px;
    margin: 3px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: azure;
    border-radius: 10px;
    border: 0.5px solid transparent;
    color: crimson;
    background-image: url("https://www.pngitem.com/pimgs/m/42-422736_paw-print-x-dog-image-free-clip-art.png");
}

.nav-btn:hover {
    border: 0.5px solid crimson;
    fill: crimson;
}


.address-holder {
    display: flex;
    color: crimson;
    align-items: center;
    width: 300px;
    background-color: rgba(0,0,0,0.9);
    border-radius: 12px;
    flex-wrap: nowrap;
    padding: 10px 20px;
}

.my-address {
    width: 250px;
    overflow: hidden;
    flex-grow: 1;
    text-overflow: ellipsis;
}

.avatar {
    border-radius: 10px;
    margin-right: 3px;
}

.contents{
    margin-top: 50px;
}

.sample{
    margin: 0 auto;
    width: 90%;
}

.imageholder{
    width: 321px;
    height: 272px;
    overflow: hidden;
    margin: 0 auto;
}

.rounded{
    width: 100%;
}

.create-btn{
    background: crimson;
}

.dash-container{
    height: 540px;
}

.bs-btn {
    background-color: crimson;
}

.main-container {
    padding-bottom: 60px;
}

.dsb{
    cursor:not-allowed;
}

/* Rightsidebar style */

.rightsidebar{
    top: 0 !important;
    right: 0 !important;
    position: absolute;
    width: 300px;
}

.rightsidebar-container{
    background-color: black;
    padding: 20px 5px;
    border-radius: 5px;
}

.nav-btns{
    padding: 10px 20px;
    margin: 3px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: azure;
    border-radius: 10px;
    border: 0.5px solid transparent;
    color: crimson;
    width: 220px;
    background-image: url("https://www.pngitem.com/pimgs/m/42-422736_paw-print-x-dog-image-free-clip-art.png");
    font-size: 16px;
}

.nav-btns.resize{
    display: none !important;
}

.searches{
    display: flex;
    width: 280px;   
}

.address-holders {
    display: flex;
    color: crimson;
    align-items: center;
    width: 280px;
    background-color: white;
    border-radius: 10px;
    flex-wrap: nowrap;
    padding: 10px 20px;
    margin: 3px;
    font-size: 20px;
}

.my-addresses{
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-icon {
    display: block;
}

.profile {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
    margin-top: -77px;
}

.profile-detail{
    margin: 0 auto;
    width: 400px;
}

.profile-empty{
    width: 100%;
    color:white;
    border: 1px solid firebrick;
    height: 200px;
    background-color: gray;
}

.profile-pic-holder {
    margin: 0 auto;
    width: 150px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

.profile-image{
    border-radius: 45px;
    border: 3px solid crimson;
}

.profile-username, .profile-email, .profile-bio {
    display: block;
    text-align: center;
}

.settings-icon {
    position: absolute;
    top: 300px;
    right: 21px;
}

.popup-heading{
    background-color: crimson;
    padding: 12px 10px;
    border-radius: 10px;
}




@media (max-width : 1000px) {
    .nav-btn-btn{
        display: none;
    }

    .nav-small-btn{
        padding-left: 0px;
    }
}

@media (max-width : 1085px) {
    .address-holder{
        display: block;
        width: auto;
    }

    .my-address{
        display: none;
    }
}

@media (max-width : 855px){
    .nav-btn{
        padding: 5px;
    }
}

@media (max-width : 750px){
    .nav-btn{
        display: none !important;
    }

    .address-holder{
        display: none !important;
    }
    .menu-icon{
        display: inline-block;
    }
    .navs {
        display: inline-flex;
    }
    .search {
        width: auto;
    }

    .nav-btns.resize{
        display: flex !important;
    }
}

@media (max-width : 590px){
    .search{
        display: none;
    }
    .profile-account-holder{
        width: auto;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    .profile-detail{
        width: 330px;
    }
}